.wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-auto-rows: 64px auto 72px;
}

.categoryList {
    grid-row: 1/4;
    grid-column: 1/2;
}

.bannerRow {
    grid-row: 1/2;
    grid-column: 2/3;
    padding-left: 1rem;
    margin-top: .5rem;
}

.bannerSlider {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: .5rem;
}

.bannerSlider:global(.swiper) {
    padding-left: 1rem;
}

.categoryRow {
    grid-row: 3/4;
    grid-column: 2/3;
    margin-left: 1rem;
    margin-top: 1rem;
}