.toolbarPart {
    height: 56px;
    background-color: #fff;
}

.toolbar {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.categoryPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

.categoryInner {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
}

.form {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 2rem;
}

.cardBtn {
    width: 11rem;
    gap: 1rem;
}
