.wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .5rem;
}

.item {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
}

.item :global([data-testid="NavigateNextIcon"]) {
    margin-left: auto;
}