* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', serif ;
    font-size: 10px;
    background-color: #f2f2f2;
}
